name = "govnodar"
main = "workers-site/index.js"
compatibility_date = "2026-01-12"

[site]
bucket = "."

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1